.vs
test/
project_sample.pptx
back/
outline.txt
AlgorithmDesignProject/
Debug/
.idea/
AlgorithmDesignProject.sln
CMakeFiles/
run
*.cmake
CMakeCache.txt
Makefile
cppFiles/run
cmake-build-debug/
Testing/
*.cbp